*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #b9b9b9;
}

#update-name-container{
    display: none;
}

.question-box{
    width: 100%;
    padding:20px;
}
.answer-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 10px 0px;
}
button{
    padding: 8px;
    margin: 4px 10px;
    max-width: 300px;
}
header{
  text-align: center;
}
#quiz-container{
   display: flex;
   justify-content: center;
   min-width: 500px;
}
